.app-logo {
  display: block;
  pointer-events: none;
  width: 200px;
  height: 200px;
  background: url(./logo.svg);
  background-size: 200px 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
